function Main.main 8
push constant 50
call String.new 1
pop local 7
push local 7
push constant 49
call String.appendChar 2
pop temp 0
push local 7
push constant 97
call String.appendChar 2
pop temp 0
push local 7
push constant 98
call String.appendChar 2
pop temp 0
push local 7
push constant 99
call String.appendChar 2
pop temp 0
push local 7
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 7
call String.length 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 1234
call Output.printInt 1
pop temp 0
push constant 5678
call Output.printInt 1
pop temp 0
push constant 9
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 7
push constant 456
call String.setInt 2
pop temp 0
push local 7
call Output.printString 1
pop temp 0
push constant 0
return
